<div class = "post">
    <h2>New Book</h2>
    <% if @book != nil %>
        <% if @book.errors.any? %>
                <%= @book.errors.count %>件のエラーが発生しました
              <ul>
                  <% @book.errors.full_messages.each do |message| %>

                  <li><%= message %></li>

                <% end %>

              </ul>
        <% end %>
    <% end %>
    <%= form_with model:@book,local:true do |f| %>

      <p><%= f.label :title,"Title"%></p>
      <%= f.text_field :title%>
      <p><%= f.label :body,"Body" %></p>
      <%= f.text_area :body %>
      <br>
      <%= f.submit 'Create Book' %>

    <% end %>
  </div>